body {
  background-color: #F7F6F7;
  color: #24283d;
  margin: 0px !important;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.root {
  flex-grow: 1;
}
.header {
  background-color: #24283d;
}
.main-content {
  background-color: rgb(95, 144, 160);
  align-items: center;
}
.patch-image-module {
  margin: 20px 0px;
}