body {
  background-color: lightblue;
  color: #24283d;
}

.root {
  flex-grow: 1;
}
.header {
  background-color: #24283d;
}
.main-content {
  background-color: rgb(95, 144, 160);
  align-items: center;
}
.patch-image-module {
  margin: 20px 0px;
}